<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{Channel.Title} - {Stl.SiteName}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="{Stl.SiteUrl}/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
<link href="{Stl.SiteUrl}/css/iconfont.css" type="text/css" rel="stylesheet"/>
<link href="{Stl.SiteUrl}/css/common.css" type="text/css" rel="stylesheet"/>
<link href="{Stl.SiteUrl}/css/swiper.min.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="{Stl.SiteUrl}/js/jquery.min.js"></script>
<script type="text/javascript" src="{Stl.SiteUrl}/js/swiper.min.js"></script>
<script type="text/javascript" src="{Stl.SiteUrl}/js/js.js"></script>
<link rel='stylesheet' id='style-css'  href='{Stl.SiteUrl}/css/style.css' type='text/css' media='all' />
</head>
<body class="archive category category-shqd category-7">
<stl:include file="/include/search.html"></stl:include>
<stl:include file="/include/header.html"></stl:include>

<!--主要内容 -->
<div id="cont-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-8 cont-left">
        
       <ul class="breadcrumbs"><li><a href="{Stl.SiteUrl}/">网站首页</a></li><li> <span>&gt;</span> 搜索列表 <span>&gt;</span> </li></ul>
        
        <stl:dynamic>
        <stl:pageContents groupChannelNot="not" scope="All" tags="{Request.tagname}" pageNum="15" order="AddDate">
          <stl:if type="ImageUrl" operate="NotEmpty">
            <stl:yes>
                <stl:if type="SubTitle" operate="Equals" value="3">
                  <stl:yes>
                    <div class="la-list01 line-botm">
                                <div class="la-list-t">
                                  <h3> 
                                  <stl:if type="IsHot" operate="Equals" value="true">
                                  <span class="hot-icon">热</span> 
                                  </stl:if>
                                  <stl:a class="htitle-color" target="_blank"><stl:content type="Title"></stl:content></stl:a> </h3>
                                </div>
                                <div class="mob-author">
                                    <span class="time"><i class="iconfont icon-mulutubiao"></i>
                                    <stl:a href="" style="color: #bbb;">{Channel.Title}</stl:a>      
                                    </span>
                                    <span class="time"><i class="iconfont icon-shijian"></i> <stl:content type="AddDate" formatString="yyyy-MM-dd"></stl:content></span>
                                    <span class="time liulan"><i class="iconfont icon-faxian"></i> <stl:content type="Hits"></stl:content></span>
                                    <span class="time tags"><i class="iconfont icon-biaoqian"></i>
                                    <stl:tags totalNum="3">
                                    <a href="{Stl.SiteUrl}/utils/tags.html?tagName={Tag.Name}" rel="tag">{Tag.Name}</a>
                                    </stl:tags>
                                    </span>
                                </div>
                                
                                <ul class="clearfix">
                                <stl:each type="property" value="ImageUrl">
                                  <li>
                                    <div class="image-item"> <stl:a> <img class="xyscale" src="{Content.ImageUrl}" alt="{Content.Title}"> </stl:a> </div>
                                  </li>
                                </stl:each>
                                </ul>
                                <div class="mob-sub"> <stl:content type="Summary" wordNum="95" ellipsis="..."></stl:content> </div>
                              </div>
                  </stl:yes>
                  <stl:no>
                    <div class="la-list02 line-botm clearfix">
  <div class="la-l-img"> <stl:a target="_blank"> <img class="xyscale" src="{Content.ImageUrl}" alt="{Content.Title}"> </stl:a> </div>
  <div class="la-r-text">
    <h3> <stl:a class="htitle-color" target="_blank"><stl:content type="Title"></stl:content></stl:a> </h3>
    <div class="mob-author"> <span class="time"><i class="iconfont icon-mulutubiao"></i> <stl:a href="" style="color: #bbb;">
      {Channel.Title}
      </stl:a> </span> <span class="time"><i class="iconfont icon-shijian"></i> <stl:content type="AddDate" formatString="yyyy-MM-dd"></stl:content></span> <span class="time liulan"><i class="iconfont icon-faxian"></i> <stl:content type="Hits"></stl:content></span> </div>
    <div class="mob-sub"> <stl:content type="Summary" wordNum="62" ellipsis="..."></stl:content> </div>
    <div class="tags">
          <i class="iconfont icon-biaoqian"></i>    
                    <stl:tags totalNum="3">
                        <a href="{Stl.SiteUrl}/utils/tags.html?tagName={Tag.Name}" rel="tag">{Tag.Name}</a>
                        </stl:tags>
                    </div>
  </div>
</div>
                  </stl:no>
                </stl:if>
            </stl:yes>
            <stl:no>
                <div class="la-list03 line-botm clearfix">
                  
                  <div class="la-r-text">
                    <h3> 
                    
                    <stl:if type="IsHot" operate="Equals" value="true">
                      <span class="hot-icon">热</span> 
                    </stl:if>
                      
                     <stl:a class="htitle-color" target="_blank"><stl:content type="Title"></stl:content></stl:a> </h3>
                    <div class="mob-author">
                        <span class="time"><i class="iconfont icon-mulutubiao"></i>
                        <stl:a href="" style="color: #bbb;">{Channel.Title}</stl:a>      
                        </span>
                        <span class="time"><i class="iconfont icon-shijian"></i> <stl:content type="AddDate" formatString="yyyy-MM-dd"></stl:content></span>
                        <span class="time liulan"><i class="iconfont icon-faxian"></i> <stl:content type="Hits"></stl:content></span>
                        
                    </div>
                    <div class="mob-sub"><stl:content type="Summary" wordNum="100" ellipsis="..."></stl:content></div>
                    <div class="tags">
          <i class="iconfont icon-biaoqian"></i>    
                    <stl:tags totalNum="3">
                        <a href="{Stl.SiteUrl}/utils/tags.html?tagName={Tag.Name}" rel="tag">{Tag.Name}</a>
                        </stl:tags>
                    </div>
                  </div>
                </div>
            </stl:no>
        </stl:if>
        </stl:pageContents>
       
          <div id="page">           
          <stl:pageItem type="PreviousPage">
            <stl:yes>
              <a href="{Current.Url}" style="background:#3CA5F6;">上一页</a>
            </stl:yes>
            <stl:no>
              <a href="javascript:;">上一页</a>
            </stl:no>
            </stl:pageItem>
            
            <stl:pageItem type="PageNavigation" listNum="5">
              <stl:yes>
                <a href="{Current.Url}">{Current.Num}</a>
              </stl:yes>
            <stl:no>
              <span id="page-numberscurrent">{Current.Num}</span> 
            </stl:no>
            </stl:pageItem>
            
            <stl:pageItem type="NextPage">
              <stl:yes>
                <a href="{Current.Url}" style="background:#3CA5F6;">下一页</a>
              </stl:yes>
              <stl:no>
                <a href="javascript:;">下一页</a>
              </stl:no>
            </stl:pageItem>
          </div>
          
        </stl:dynamic>
      </div>
      <div class="wrap-right pull-right">
      
        <div class="widget widget_ztmao_hotpost">
          <div class="box-moder hot-article">
            <h3>热评文章</h3>
          </div>
          <div class="box-moder hot-article"> <span class="span-mark"></span>
            <ul class="hots-post-widget">
            <stl:contents topLevel="0" scope="All" isImage="true" order="Comments" totalNum="5">
              <li>
                <div class="hot-article-img"> <stl:a target="_blank"> <img class="xyscale" src="{Content.ImageUrl}" alt="{Content.Title}"/> </stl:a> </div>
                <stl:a class="transition" target="_blank"><stl:content type="Title"></stl:content></stl:a> </li>
            </stl:contents>
            </ul>
          </div>
          <div class="placeholder"></div>
        </div>
        <div class="widget widget_ztmao_mostviews2">
          <div class="box-moder hot-article">
            <h3>最热点击文章</h3>
          </div>
          <div class="box-moder hot-article"> <span class="span-mark"></span>
            <ul class="hots-post-widget">
            <stl:contents topLevel="0" scope="All" isImage="true" order="Hits" totalNum="8">
              <li>
                <div class="mod-thumb"> <stl:a href="{Content.Title}" target="_blank"> <img class="xyscale" src="{Content.ImageUrl}" alt="{Content.Title}"/> </stl:a> </div>
                <div class="project-content"> <stl:a target="_blank"><stl:content type="Title"></stl:content></stl:a> </div>
              </li>
            </stl:contents>
            </ul>
          </div>
          <div class="placeholder"></div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<!--底部 --> 
<stl:include file="/include/footer.html"></stl:include> 
<script src="{Stl.SiteUrl}/js/glodil.js" type="text/javascript"></script> 
<script src="{Stl.SiteUrl}/js/jquery-ias.min.js" type="text/javascript"></script> 

<script type="text/javascript">
  $('.weixin').mouseover(function(){
  $('.weixin-Qr-code').css({"opacity":"1","margin-left":"70px","display":"block"}),
  $('.weixin').addClass('disabled')
    // alert('fdafdsa');
    });
    $('.weixin').mouseout(function(){
  $('.weixin-Qr-code').css({"opacity":"1","margin-left":"70px","display":"none"}),
  $('.weixin').removeClass('disabled')
  // alert('fdafdsa');
  });
</script> 
<script type='text/javascript' src='{Stl.SiteUrl}/js/wp-embed.min.js'></script>
</body>
</html>
